<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <title id="pageTitle">Home Page</title>
</head>
<body>
    <div th:remove="tag" th:replace="~{fragments/navbar :: navbar}"></div>
    <br>
    <br>

    <div class="container">
        <h1>Добро пожаловать!</h1>

        <h1>

        </h1>
        <br />
        <div sec:authorize="hasAuthority('USER')">
            <a class="btn btn-primary" th:href="@{/procedure/signup}">Записаться на стрижку</a>
        </div>
    </div>

    <div th:remove="tag" th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
